*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
a{
    color: rgba(220, 20, 60, 0.644);
    font-weight: bold;
    font-size: 1.3rem;
}

main{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

section{
    max-width: 200px;
}

/*game area*/
#span-1{
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.664);
}
#last-moves{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.73rem;
    font-weight: bold;
    color: rgb(205, 43, 226);
}
button{
    cursor: pointer;
    margin: .5rem 0;
    padding: .3rem .6rem;
    border: none;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.445);
    transition: all .3s ease;
}
button:hover{
    transform: scale(1.15);
}
button:active{
    background-color: gray;
}

/*game board*/
.grid{
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.grid::before,
.grid::after{
    z-index: 4;
    position: absolute;
    padding: .3rem .2rem;
    font-weight: bold;
    color: rgb(46, 46, 46);
    background-color: rgb(149, 255, 123);
}
.grid::before{
    content: "Start";
    top: -30px;
}
.grid::after{
    content: "End";
    right: 0;
    bottom: -30px;
}
.tile{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}
